@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.inscription {
    background-color: #28a745;
}

.connexion {
    background-color: #ffc107;
}

button:hover {
    opacity: 0.9;
}